Flask==2.3.3
flask-cors==4.0.1
pymongo==4.6.3
langchain==0.2.16
langchain-core==0.2.38
langchain-groq==0.1.9
langchain-community==0.2.16
langsmith==0.1.75
langgraph==0.2.5
transformers==4.44.2
sentence-transformers==2.7.0
torch==2.9.1
faiss-cpu
python-docx==1.1.2
google-auth==2.29.0
google-api-python-client==2.126.0
python-dotenv==1.0.1
typing-extensions==4.12.2
requests==2.31.0
gunicorn==22.0.0
youtube-transcript-api==0.6.2
bcrypt==4.1.2
werkzeug==3.0.3